*{
    
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color:#d90368;
    
}


/* Barra de Navegación --------------------------------------------------*/
.barra-nav{
    width: 100vw;
}

.bg-light {
    background-color: #080e2e!important;
}
.me-auto {
    margin-right: 0;
}

.navbar-expand-lg .navbar-collapse {
   
    flex-basis: auto;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

/* navegación-lateral--------------------------------------------------- */


.nav-lat {
    background-color: rgb(217 3 103 / 75%) ;
    height: 35vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    align-content: center;
    align-items: center;
}
.navegación-lat{
    background-color: rgb(217 3 103 / 75%) ;
}

.der{
    text-align: left;
    padding-left: 25px;
    
}


.tit{
    text-align: center;
    color: white;
}
.izq{
    padding-right: 25px;
    text-align: right;
}


/* Barra de búsqueda ----------------------------------------------------*/
.búsqueda{
    padding: 70px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    
}

.category{
    display: inline-flex;
    padding-bottom: 20px;
    flex-wrap: wrap;

}
.form-check {
    display: inline-block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
    padding-right:26px;
}

.form-control {
    display: inline-block;
    width: 15vw;
    padding: 0.375rem 0.75rem;
    height: 28px;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #6ddaf3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-success {
    color: #6ddaf3;
    border-color: #6ddaf3;
    height: 28px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.btn-outline-success:hover{
    background-color: #d90368;
    border-color: #d90368;
}
.fa-solid:hover{
    color: white;
}
/* Cards ----------------------------------------------------------------*/

.cards{
    justify-content: space-evenly;
    padding-bottom: 55px;
    /* width: 100vw; */
    flex-wrap: wrap;
    margin: 15px 15px 0px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    word-wrap: break-word;
    background-color: #f6f3f3d0;
    background-clip: border-box;
    border: 1px solid #f6f3f3d0;
    border-radius: 0.25rem;
    box-shadow: 0 0 20px #11dbf9fa;
    
}

.btn-primary{
    background-color: #d90368;
    border-color: #d90368;
    border-radius: 27px;
}
.card-body{
    text-align: center;

}
.card-img-top {
padding: 21px 0px;
min-height: 25px;
}

.búsqueda-cards{
    background-image: url(/assets/img/fondo.png);
    width: 100vw;
    z-index: -1;
    object-fit: cover; 
    background-position: center;   
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(70%); */
    min-height: 87vh;

}

.precio{
    padding: 0px;
    display: flex;
    align-items: center;
}
/* Footer ---------------------------------------------------------------*/
footer{
    text-align: center;
    background-color:#b00555;
    padding: 28px 23px ;
    display:flex;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    vertical-align: middle;

}
#foot-legend{
    color: rgba(255, 255, 255, 0.882) !important;
    margin-bottom: 0;
}

.logos{
    padding-left: 25px;
}
.legend{
    padding-right: 20px;
}
.fa-brands, .fab {
    font-weight: 400;
    color:white;
    padding: 5px;   
}
/* {} */
/* Responsive -----------------------------------------------------*/
@media (min-width: 576px){

    .col-sm-6 {
        flex: 0 0 auto;
        width: 45%;
        margin: 10px;
        align-items: center;
    }
}

@media (min-width: 768px){

    .col-md-4 {
        flex: 0 0 auto;
        width: 20%;
    }


}
@media (min-width: 867px){
    .col-md-4 {
        flex: 0 0 auto;
        width: 20%;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 45%;
    }

}
@media (min-width: 906px){

    .col-md-6 {
        flex: 0 0 auto;
        width: 48%;
    }

}

/* Tabla---------------------------------- */

table{
    background-color: #f6f3f31a;
    color: white !important;
    width: 75% !important;
    vertical-align: middle;
    text-align:left;
}

.tabla{
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
}
th{
    background-color: #f6f3f3f0 !important;
} 
td{
    color:#6ddaf3 !important;
}